
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
	background-color: #561010;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#container-main{
	width: 80%;
}

#main-button-container{
	display: flex;
	.main-button{
		margin: 5px 0 0 20px;
	}
}